<% if @wiki.user == current_user && current_user.premium? %>
  <%= form_for @collaborator, url: wiki_collaborators_path(@wiki) do |f| %>
    <div class="form-group">
       <%= f.label :collaborators %>
       <%= f.select :user_id, [], {} do %>
         <% @noncollaborators.each do |user| %>
           <% if user != current_user && user.id != collaborator.user_id %>
             <%= content_tag :option, user.email, value: user.id %>
           <% end %>
         <% end %>
       <% end %>
    </div>
    <div class="form-group">
      <%= f.submit "Add Collaborator", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
